<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to 7 eleven</title>
    <link href="stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
    <header id="header-image">
        <!--header-->

    </header>

    <nav>
        <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Benefits</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </nav>

    <section>
        <article>
            <h1>Be part of 7eleven family and enjoy exclusive benefits and rewards!</h1>
            <p>7eleven family card availability may vary on the 7eleven branch</p>
        </article>
        <div class="container">
            <label class="labels">Registration Form</label>
            <form>
                <div>
                    <label>Name</label>
                    <input class="form-input" type="text">
                </div>
                <div>
                    <label>Email</label>
                    <input class="form-input" type="text">
                </div>
                <div>
                    <label>Mobile Number</label>
                    <input class="form-input" type="text">
                </div>

                <div>
                    <label>Date of Birth</label>
                    <select class="form-date"></select>
                    <select class="form-date"></select>
                    <select class="form-date"></select>
                </div>

                <div>
                    <label>Gender</label>
                    <input type="radio" id="female">
                    <label for="female">Female</label>
                    <input type="radio" id="male">
                    <label for="male">Male</label>
                </div>


                <div>
                    <input type="button" class="form-button" value="Submit">
                </div>
                    <img src="img/cards.png" alt="this is and image">

            </form>
        </div>
    </section>

    <footer>
        <div>
            <article>
                <ul>
                    <li><label >SUSPENDISSE</label></li>
                    <li><label >SUSPENDISSE</label></li>
                    <li><label >SUSPENDISSE</label></li>
                    <li><label >SUSPENDISSE</label></li>
                </ul>
            </article>
            <article>
                <ul>
                    <li>Quisque</li>
                    <li>Faucibus</li>
                    <li>Sapien</li>
                    <li>Hendrerit</li>
                </ul>
            </article>
            <article>
                <ul>
                    <li>Quisque</li>
                    <li>Faucibus</li>
                    <li>Sapien</li>
                    <li>Hendrerit</li>
                </ul>
            </article>

        </div>
    </footer>
</body>
</html>