@import "compass/reset";

@font-face {
  font-family: "GeosansLight Medium";
  src: url(../../resources/fonts/GeosansLight.ttf);
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "GeosansLight Medium";
}
header {
  background: url("../img/banner_bg.png") repeat;
  height: 128px;
  img{
    display: block;
    margin: 0 auto;
    border: solid #ffffff;
    border-width: 0 22px 0 22px;
  }
}

.container {
  margin: 0 auto;
  //width: 1124px;
  width: 82%;
  padding: 30px 0 100px 0;
}

nav {
  margin: 10px 0 26px 0;
  ul {
    display: inline;
    padding: 18px;
    border: solid 2px #006B41;
    li {
      display: inline;
      padding: 0 50px 0 99px;
      list-style: none;
      a {
        color: #006B41;
        position: relative;
        padding: 29px 0 29px 0;
        text-decoration: none;
      }
      a:hover {
        opacity: 0.6;
      }
    }
  }
}

.navMenu{
  float: left;
  width: 24.82%;
  text-align: center;
  position: relative;
  //border: solid 1px red;
}


a.nav-link.active:after{
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #006b41;
  position: absolute;
  left: 46.5%;
  top: 45px;
}
.nav-link:hover:after{
  @extend a.nav-link.active:after;
  transition: 10s;
  opacity: 0.6;
}

h1{
  width: 82%;
  margin: 0 auto;
  font-size: 43px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0 20px 0;
}

p{
  width: 82%;
  margin: 0 auto;
  font-size: 26px;
  text-align: center;
}

/*form start*/
.labels{
  width: 48%;
  margin: 0 auto;
  //border: solid 1px red;
  font-size: 35px;
  font-weight: bold;
  color: red;
  padding: 20px 0 10px 0;
}

.error-window{
  width: 48%;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 0 20px 0;
}

.form-input{
  background-color: #ededed;
  border: none;
  height: 40px;
  font-size: 20px;
  width: 290px;
}

.form-date{
  border: none;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  height: 40px;
  width: 93px;
  //background-color: #ededed;
  //color: #ef6c00;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #ededed url("../img/select.png") no-repeat;
  background-position: 90% 50%;
  background-size: 15px;
}

div{
  select:nth-child(2){
    padding: 0 0 0 5px;
  }
  select:nth-child(3){
    padding: 0 0 0 35px;
  }
  select:nth-child(4){
    padding: 0 0 0 20px;
  }
}

.form-button{
  border: none;
  height: 50px;
  width: 190px;
  border-radius: 4px;
  background-color: #ef2b2f;
  color: white;
  font-size: 25px;
}

form{
  margin: 0 auto;
  padding: 30px;
  position: relative;
  height: 440px;
  width: 460px;
  box-shadow: 8px 6px 30px 2px #a2a2a2;
  border-radius: 5px;
  font-size: 20px;

  div{
    margin: 10px;
    float: right;
    label{
      margin-right: 20px;
    }
  }

  span{
    font-size: 15px;
  }

  img{
    position: absolute;
    bottom: -80px;
    left: -170px;
    height: 300px;
  }

  //checkboxes
  #radio{
    padding-right: 50px;
  }
  .radio{
    visibility: hidden;
    &:checked {
      &+ .radio-label:before{
        content: "\25CF";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 30px;
        color: orange;
        text-align: center;
        line-height: 20px;
      }
    }
  }

  .radio-label{
    display: inline;
    cursor: pointer;
    &:before{
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 15px;
      background-color: #cecece;
      margin-right: 5px;
    }
  }

  .checkbox{
    visibility: hidden;
    &:checked {
      &+ .check-label:before{
        content: "\2022";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 30px;
        color: orange;
        text-align: center;
        line-height: 20px;
      }
    }
  }

  .check-label{
    display: inline;
    cursor: pointer;
    &:before{
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      background-color: #cecece;
      margin-right: 5px;

    }
  }
}
/*form end*/
footer {
  background-color: #0C6C43;
  height: auto;
  div{
    margin: 0 auto;
    width: 68%;
    padding: 30px 0 30px 0;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    column-gap: 8em;
    ul{
      li{
        list-style: none;
        padding-bottom: 5px;
      }
      li:nth-child(1),
      li:nth-child(6),
      li:nth-child(11),
      li:nth-child(16) {
        padding-bottom: 20px;
      }
      li:nth-child(1) a,
      li:nth-child(6) a,
      li:nth-child(11) a,
      li:nth-child(16) a{
        text-transform: uppercase;
        font-size: 32px;
      }
      li:not(:nth-child(1)),
      li:not(:nth-child(6)),
      li:not(:nth-child(11)),
      li:not(:nth-child(16)){
        font-size: 26px;
      }
      a{
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}

h5 {
  font-size: 30px;
  margin: 15px 0 15px 0;
  text-align: center;
}

@import "responsive";




